@import url("https: //maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

h3{
    color: white;
    text-align: center;
}

#login {
    width: 280px;
    margin: 3vw auto;
    transition: opacity 300ms;
}

#login form span {
    background-color: #363b41;
    border-radius: 3px 0px 0px 3px;
    color: #606468;
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

#login form input {
    height: 50px;
}

#login form input[type="email"], 
input[type="password"], #login form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #fff ;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 230px;
}

#login form input[type="submit"] {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #ea4c88;
    color: #eee;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
    width: 280px;
}

#login form input[type="submit"]:hover {
    background-color: #d44179;
}

#login>p {
    text-align: center;
}

#login>p span {
    padding-left: 5px;
}